[submodule "mitigasi-kita-app-frontend"]
	path = mitigasi-kita-app-frontend
	url = https://github.com/zainalsaputra/mitigasi-kita-app-frontend
[submodule "mitigasi-kita-app-backend"]
	path = mitigasi-kita-app-backend
	url = https://github.com/zainalsaputra/mitigasi-kita-app-backend
