[submodule "mitigasi-kita-app-frontend"]
	path = mitigasi-kita-app-frontend
	url = https://github.com/zainalsaputra/mitigasi-kita-app-frontend
[submodule "mitigasi-kita-app-backend"]
	path = mitigasi-kita-app-backend
	url = https://github.com/zainalsaputra/mitigasi-kita-app-backend
[submodule "earthquake-tsunami-model-api"]
	path = earthquake-tsunami-model-api
	url = https://github.com/zainalsaputra/earthquake-tsunami-model-api
